# ATC coding rules - https://github.com/atc-net/atc-coding-rules
# Version: 1.0.1
# Updated: 08-04-2024
# Location: webapi
# Distribution: Frameworks

##########################################
# Code Analyzers Rules
##########################################
[*.{cs}]

dotnet_diagnostic.CA1062.severity = none            # No need for null-checking in public method.

dotnet_diagnostic.MA0004.severity = none            # Use Task.ConfigureAwait(false) https://github.com/meziantou/Meziantou.Analyzer/blob/main/docs/Rules/MA0004.md

##########################################
# Custom - Code Analyzers Rules
##########################################
